:root {
    /* WIDTH AND SPACINGS */
    --sidebar-width: min(90vw, 300px);
    --pad-m: 1.25rem;
    --pad-s: 0.75rem;
    --pad-xs: 0.5rem;

    /* vertical & horizontal header padding */
    --header-pad-y: clamp(1rem, 0.716rem + 1.211vw, 1.75rem);
    --header-pad-x: var(--pad-m);

    /* links vertical & horizontal padding */
    --link-pad-y: 0.7rem;
    --link-pad-x: 0.5rem;

    /* panel top & bottom padding */
    --panel-block-pad: 2rem;

    /* GAPS */
    --link-gap: 1.125rem;
    --list-gap: 0.35rem;

    /* BACKGROUND COLORS */
    --nav-bg: #010116;
    --cta-bg: #4728d3;
    --social-bg: transparent;
    --link-bg: transparent;
    --header-bg: var(--nav-bg);

    /* HOVER BACKGROUND */
    --cta-hover-bg: #6444f1;
    --social-hover-bg: black;
    --link-hover-bg: #342357;

    /* COLORS */
    --panel-title-color: white;
    --panel-icon-color: #9f6aff;
    --social-color: #c5c5c5;
    --social-icon-color: var(--social-color);
    --cta-color: white;
    --panel-link-color: white;

    /* HOVER COLORS */
    --cta-hover-color: white;
    --link-hover-color: white;
    --link-icon-hover-color: white;
    --social-hover-color: white;
    --social-icon-hover-color: var(--social-hover-color);

    /* FOCUS COLORS */
    --link-focus-outline: pink;
    --link-focus-bg: var(--link-hover-bg);

    /* FONT SIZES */
    --panel-title-size: 1.125rem;
    --panel-back-size: 0.6rem;
    --link-txt-size: 0.875rem;
    /* icons */
    --nav-icon-size: 1.2rem;
    --social-icon-size: var(--nav-icon-size);

    /* CSS TRANSITIONS */
    --sidebar-transition: 500ms;
    --sidebar-ttf: cubic-bezier(1, 0, 0.25, 1);
    --opacity-transition: 500ms 200ms;

    /* BORDER */
    --link-border-radius: 0;
    --horizontal-line: 1px solid rgb(255 255 255 / 24%);
}


/* MEDIA QUERY - DESKTOP  */
@media (min-width: 1025px) {

    .dwc-nav-trigger,
    .dwc-mobile-menu-overlay,
    .mobile.dwc-nav__panel__header {
        display: none !important;
    }

    .dwc-footer,
    .dwc-main {
        width: calc(100% - var(--sidebar-width));
        margin-left: auto;
        margin-bottom: auto;
    }

    /*   inside oxygen start */
    .ng-scope .dwc-site-wrapper {
        display: grid;
        grid-template-columns: var(--sidebar-width) 1fr;
    }

    .ng-scope .dwc-sidebar {
        grid-row: span 2;
    }

    .ng-scope .dwc-main,
    .ng-scope .dwc-footer {
        width: 100%
    }

    /*   inside oxygen ends */
}

/* MEDIA QUERY - DESKTOP ENDS */

html,
body,
site-wrapper {
    height: 100%
}

main,
footer {
    width: 100%;
}

main {
    flex-grow: 1
}

.dwc-site-wrapper {
    width: 100%;
}


/* skip links */
.dwc-skip-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cta-bg);
    padding: var(--pad-xs) var(--pad-m);
    position: absolute;
    z-index: 1000;
    border-radius: var(--link-border-radius);
    text-transform: uppercase;
    letter-spacing: 1px;
    top: -150px;
    left: 8px;
    transition: 0.4s;
}

.dwc-skip-link:focus-visible {
    position: absolute;
    top: 8px;
    left: 8px;
    outline-color: var(--link-focus-outline);
    outline-offset: 1px;
    background: var(--link-focus-bg);
}

.dwc-skip-link:focus:not(:focus-visible) {
    outline: none;
}

.dwc-sidebar {
    position: fixed;
    top: 0;
    z-index: 999;
    background: var(--nav-bg);
    width: var(--sidebar-width);
    height: 100vh;
    transition: transform var(--sidebar-transition) var(--sidebar-ttf), opacity var(--opacity-transition);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75), 0px 17px 24px rgba(0, 0, 0, 0.3);
}


.dwc-sidebar__logo-wrapper {
    width: 100%;
    align-items: flex-start;
}

.dwc-sidebar__nav {
    height: 100%;
    z-index: 1;
    width: var(--sidebar-width);
    position: relative;
}

.dwc-sidebar__nav:not(.ng-scope .dwc-sidebar__nav) {
    overflow: hidden;
}

.dwc-sidebar__nav__panel {
    background: var(--nav-bg);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform var(--sidebar-transition) var(--sidebar-ttf), opacity var(--opacity-transition);
    transform: translateX(0);
    z-index: 1000;
    padding-block: var(--panel-block-pad);
    padding-top: 0;
}


.dwc-sidebar__nav__panel:not(.ng-scope .dwc-sidebar__nav__panel)::after {
    content: '';
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: var(--panel-block-pad);
    background: var(--nav-bg);
    filter: blur(5px)
}


.dwc-sidebar__nav__panel:focus {
    outline: none;
}


.dwc-nav__panel__inner {
    width: 100%;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
    padding-inline: var(--pad-m)
}

.dwc-nav__panel__header {
    width: 100%;
    padding: 0.32rem var(--pad-m);
    gap: var(--list-gap);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.dwc-header-inner-wrap {
    width: 100%;
    padding-block: var(--header-pad-y);
    padding-inline: var(--header-pad-x);
    gap: var(--list-gap);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.dwc-nav__panel__title-wrap {
    padding: var(--pad-s) var(--pad-xs);
    width: 100%;
    box-shadow: 0 -6px 10px 15px var(--nav-bg);
    position: -webkit-sticky;
    position: sticky;
    top: -3px;
    background-color: var(--nav-bg);
    z-index: 1;
}

.dwc-nav__panel__title {
    color: var(--panel-title-color);
    font-size: var(--panel-title-size);
    font-weight: 500;
    letter-spacing: 1px;
}

.dwc-sidebar__nav__ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-block: var(--pad-m);
    gap: var(--list-gap);
    flex-grow: 1;
}

.dwc-sidebar__nav__li {
    list-style: none;
    width: 100%;
    position: relative;
    border-radius: var(--link-border-radius)
}

.dwc-sidebar__nav__panel-footer {
    width: 100%;
    padding-block: var(--pad-m);
    gap: var(--link-gap);
    z-index: 5;
    padding-inline: var(--pad-m);

    border-top: var(--horizontal-line);
}

.dwc-sidebar__nav__panel-footer:not(.ng-scope *) {
    box-shadow: 0 6px 24px 32px var(--nav-bg);
}


/* buttons and links */

button.dwc-sidebar__nav__btn,
.dwc-sidebar__nav__link,
.dwc-cta {
    width: 100%;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    padding: var(--link-pad-y) var(--link-pad-x);
    gap: var(--link-gap);
    text-align: left;
    line-height: 1.3;
    transition: var(--sidebar-transition), outline 0s;
    border-radius: var(--link-border-radius);
}

.dwc-nav__back-btn {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: var(--panel-back-size);
}

.dwc-nav__home-btn {
    width: auto;
    padding: var(--pad-s);
    margin: auto;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: var(--link-border-radius);
    position: relative;
}

button.dwc-sidebar__nav__btn {
    outline-width: 0;
    outline: none;
    cursor: pointer;
    background: var(--link-bg);
    border: none;
}

.dwc-cta .dwc-nav__link__text {
    color: var(--cta-color)
}

.dwc-cta:hover .dwc-nav__link__text {
    color: var(--cta-hover-color)
}



.dwc-cta {
    justify-content: center;
    background: var(--cta-bg);
}

.dwc-cta:hover {
    background: var(--cta-hover-bg);
}

.dwc-nav__back__text {
    color: var(--panel-link-color)
}

.dwc-cta:hover .dwc-nav__link__text {
    color: var(--cta-hover-color);
}

.dwc-sidebar__nav__link:hover,
.dwc-nav__home-btn:hover,
button.dwc-sidebar__nav__btn:hover {
    background: var(--link-hover-bg);
}

button:hover .dwc-nav__link__text,
li:hover .dwc-nav__link__text,
button:hover .dwc-nav__back__text {
    color: var(--link-hover-color) !important;
}

.dwc-nav__link__text {
    color: var(--panel-link-color);
    font-weight: 500;
    font-size: var(--link-txt-size);
}

.dwc-sidebar__nav__link::before {
    content: '';
    inset: 0;
    position: absolute;
}

.dwc-nav__link__icon>svg {
    width: var(--nav-icon-size);
    height: var(--nav-icon-size);
    color: var(--panel-icon-color)
}

.dwc-nav__link__icon--chevron-right {
    margin-left: auto;
}

button:hover .dwc-nav__link__icon>svg,
li:hover .dwc-nav__link__icon>svg {
    color: var(--link-icon-hover-color) !important;
}

.dwc-sidebar__nav__list-img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: top center;
    border-radius: var(--link-border-radius);
}


/* social links */

.dwc-social-wrapper {
    width: 100%;
    gap: var(--list-gap);
}

.dwc-social {
    background: var(--social-bg);
}

.dwc-social:hover {
    background: var(--social-hover-bg);
 }

 .dwc-social__text {
    line-height: 1;
    font-size: var(--link-txt-size);
    color: var(--social-color);
}

 .dwc-social:hover .dwc-social__text {
    color: var(--social-hover-color);
}

.dwc-social__icon>svg {
    color: var(--social-icon-color);
    width: var(--social-icon-size);
    height: var(--social-icon-size);
}

.dwc-social:hover .dwc-social__icon>svg {
    color: var(--social-icon-hover-color)
}


/*  FOCUS STYLES  */
.dwc-sidebar *:not(.dwc-sidebar .dwc-sidebar__nav__panel):focus-visible {
    outline: solid 2px var(--link-focus-outline) !important;
    outline-offset: 0;
    transition: 0s;
    background-color: var(--link-focus-bg);
}

.dwc-sidebar *:focus:not(:focus-visible),
header:focus-visible,
header:focus {
    outline: none !important;
}

.dwc-sidebar li:focus-within {
    outline: solid 2px var(--link-focus-outline) !important;
    background-color: var(--link-focus-bg);
}

.dwc-sidebar li:focus-within:has(:focus:not(:focus-visible)),
#dwc-header.dwc-sidebar li a:focus-visible {
    outline: none !important;
}

/* FOCUS STYLE END */


.dwc-slide-left {
    transform: translateX(-100%);
    z-index: 0;
}

.dwc-slide-right {
    transform: translateX(75%);
    z-index: 0;
    opacity: 0;
}


/* mobile nav toggle */
.dwc-nav-trigger {
    border: none;
    background: none;
    padding: var(--pad-m)
}

/*MEDIA QUERY - MOBILE*/

@media (max-width:1024px) {


    /*header and menu on mobile*/
    .dwc-sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }

    .dwc-sidebar__nav {
        background: var(--nav-bg);
        width: var(--sidebar-width);
        position: fixed;
        bottom: 0;
        left: 0;
        top: 0;
        transform: translateX(-100%);
        height: 100%;
        overflow: hidden;
        transition: transform var(--sidebar-transition) var(--sidebar-ttf), opacity var(--opacity-transition);
    }


    .dwc-sidebar__nav__panel:not(.ng-scope .dwc-sidebar__nav__panel) {
        padding-top: 100px;
        background: transparent;
    }

    .dwc-sidebar__nav__panel>div {
        background: var(--nav-bg);
    }

    .dwc-slide-nav-open .dwc-sidebar__nav {
        transform: translateX(0);
    }

    button.dwc-sidebar__nav__btn,
    .dwc-sidebar__nav__link {
        opacity: 0.9;
    }

    .dwc-sidebar__logo-wrapper {
        width: auto;
    }

    body.dwc-slide-nav-open {
        overflow: hidden;
        height: 100vh
    }

    .dwc-mobile-menu-overlay {
        background: #00000096;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        opacity: 0;
        transition: 0.4s;
    }

    .dwc-slide-nav-open .dwc-mobile-menu-overlay {
        pointer-events: auto;
        opacity: 1;
    }



    /* inside oxygen start*/
    .ng-scope .dwc-sidebar__nav {
        top: 120px;
        transform: translateX(0);
        border-top: dashed 1px gray;
        position: static;
        overflow: visible;
    }

    .ng-scope .dwc-sidebar {
        background: transparent;
    }

    .ng-scope .dwc-nav__panel__header,
    .ng-scope .dwc-header-inner-wrap {
        background: var(--nav-bg);
    }

    /*   inside oxygen end  */

    /* mobile menu toggle button*/
    .dwc-nav-trigger {
        cursor: pointer;
        position: relative;
        min-width: 26px !important;
        min-height: 0 !important;
    }

    .dwc-nav-trigger::before {
        left: 0;
        right: 0;
        transform: translateY(-5px);
    }

    .dwc-nav-trigger::after {
        left: 10px;
        right: 0;
        transform: translateY(5px);
    }

    .dwc-nav-trigger::before,
    .dwc-nav-trigger:after {
        content: '';
        position: absolute;
        transition: 0.4s 0.3s;
        height: 3px;
        background: var(--panel-link-color);
        top: 50%;
        border-radius: 50vw
    }


    .dwc-slide-nav-open .dwc-nav-trigger::before {
        transform: translateY(0) rotate(45deg);
    }

    .dwc-slide-nav-open .dwc-nav-trigger::after {
        transform: translateY(0) rotate(-45deg);
        left: 0;
    }

}

/* MEDIA QUERY - MOBILE ENDS */

/*SCROLLBARS*/
.dwc-nav__panel__inner::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
}

.dwc-nav__panel__inner::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.dwc-nav__panel__inner::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--nav-bg);
}

/* SCROLLBARS END */



/* INSIDE OXYGEN */


/*hide header/nav when not in main template*/
.ng-scope .dwc-sidebar:not(.postid-21 .dwc-sidebar) {
    display: none;
}

/* change layout when not in main template*/
.ng-scope .dwc-site-wrapper:not(.postid-21 .dwc-site-wrapper) {
    grid-template-columns: 1fr;
}

.ng-scope .dwc-sidebar__nav__panel,
.ng-scope .dwc-sidebar {
    position: static;
    outline: gray dashed 3px;
    padding-bottom: 20px;
    min-height: min(100vh, 600px)
}

.ng-scope .dwc-sidebar__nav__panel:hover {
    outline: yellow solid 3px;
    z-index: 100000
}

.ng-scope .dwc-slide-right {
    transform: translateX(101%);
    opacity: 1;
    transform: translateX(0);
}

.ng-scope button.dwc-sidebar__nav__btn,
.ng-scope .dwc-sidebar__nav__link,
.ng-scope .dwc-sidebar__nav__panel {
    position: relative;
}

.ng-scope .dwc-sidebar .dwc-sidebar__nav__btn:after {
    content: 'Controls ' attr(title) ' panel';
    position: absolute;
    top: 80%;
    left: 48px;
    font-size: 8px;
    font-weight: bold;
    color: aqua;
    letter-spacing: 1px;
}

.ng-scope .dwc-sidebar button.dwc-nav__back-btn::after {
    content: 'back to ' attr(title);
}

.ng-scope .dwc-sidebar button.dwc-nav__home-btn::after {
    content: 'home';
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0.8;
}

.ng-scope .dwc-sidebar__nav__panel::after {
    content: attr(title) ' panel';
    position: absolute;
    top: 0;
    left: 100%;
    font-size: 18px;
    font-weight: bold;
    background: white;
    padding-inline: 2rem;
    letter-spacing: 1px;
    white-space: nowrap;
    writing-mode: vertical-lr;
}